<div class="content" > 
<div style="  margin: 0mm 0mm 0mm 0mm;">
	<img style="margin-right: 900px;height: 300px;margin-top: -50px;"  src="img/tri.png">
 	<img style="margin-left: 800px;height: 100px;margin-top: -200px;float: left;" src="img/inoxica.png">
</div>
<a class="btn btn-primary"  ng-show="orden.imprecion" id="printpagebutton" ng-click="orden.borrarBotonImprimir()">Imprimir</a>
<div class="page-header">
 
</div>
<div class="row">
	<div class="col-sm-12">
			<div class="row" >
				<div class="col-sm-6"><br/>
					<!-- <p>Proveedor: <strong>{{orden.getProveedor(orden.ordenes[0].proveedor_id)}}</strong></p> -->
					<div class="pull-left">
			         <p>Proyecto: <strong>{{orden.ordenProduccion.nombreProyecto}}</strong></p>
			       </div>
			      </div>
			      <div class="col-sm-6">
						<div class="pull-right"> 
					        <p>Cotización: <strong>{{orden.ordenProduccion.folio}}</strong></p>
					       
					        <p>Fecha: <strong>{{orden.ordenProduccion.fechaInicio | date:"dd-MM-yyyy"}}</strong></p>
					      
					        <p>Fecha Vencimiento: <strong>{{orden.ordenProduccion.fechaVencimiento | date:"dd-MM-yyyy"}}</strong></p>

				       </div>
				</div>
			</div>
		
    </div>
</div>
<br/>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered"  >
			<thead>
				<tr>
				    <th width="5%"><div class="text-center">Partida</div></th> 
			        <th width="20%"><div class="text-center">Descripción</div></th>
					<th width="10%"><div class="text-center">Unidad</div></th>
					<th width="10%"><div class="text-center">Cantidad</div></th>
					
				</tr>
			</thead> 
			<tbody>
		    	<tr  ng-repeat="detalle in orden.ordenProduccion.detalle"> 
			        <td><div class="text-center">{{$index + 1}}</div ></td>  
			        <td><div class="text-center">{{detalle.descripcion}}</div></td> 
				    <td><div class="text-center">{{orden.getUnidad(detalle.unidad_id)}}</div></td>			    
				    <td><div class="text-center">{{detalle.cantidad}}</div></td>
		
			   </tr>
			
			</tbody>
		</table>
		</div>
</div>
<br/>
<div class="row">
	<div class="col-sm-12">
		<p ng-repeat="detalle in orden.cotizacion">{{orden.getNota(detalle.nota_id)}}</p>
	</div>
</div>

<br/><br/><br/><br/><br/><br/><br/>

<div class="row pull-right">
	<div class="col-sm-12">
	<p>Atentamente</p><br/>

	<p><strong> Rigoberto Zamarripa Villegas</strong></p>

	<p>Proyectos Industriales</p>

	</div>
</div>
</div>
