<h2>Clientes</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{cl.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoobra" ng-click="cl.nuevoObra()">
		 {{cl.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">    
				    <div class="row">
				    <div class="col-sm-12">

				    <h3>Empresa</h3>
				    
		          <div class="col-sm-4">
						    <label>Nombre</label>
					    	<input type="text" class="form-control" placeholder="Nombre" ng-model="cl.cliente.nombre" >
					    </div>
					     <div class="col-sm-4">
						    <label>Dirección</label>
					    	<input type="text" class="form-control" placeholder="Dirección" ng-model="cl.cliente.direccion" >
					    </div>
					     <div class="col-sm-4">
						    <label>Teléfono</label>
					    	<input type="number" class="form-control" placeholder="Teléfono" ng-model="cl.cliente.telefono" >
					    </div>
		    	  </div>
	    	  </div>
	    	 </div>
	    	 <br/>

	    	 <div class="well">
	    	 	<div class="row">
	    	 		<div class="col-sm-12">
	    	 		<div class="col-sm-10">
						    <label>Descripción Fiscal</label>
					    	<textarea type="text" class="form-control" placeholder="Descripción" ng-model="cl.cliente.descripcion" >
					    </textarea>
		    	         </div>
	    	 		</div>
	    	 		
	    	 	</div><br/>

	    	 
					<div class="row">
						
						<div class="col-sm-12">
							<input type="submit" ng-click="cl.guardar(cl.cliente)" value="Guardar" class="btn btn-primary" ng-show="cl.action">
							<input type="submit" ng-click="cl.actualizar(cl.cliente)" value="Actualizar" class="btn btn-primary" ng-show="!cl.action">	
						</div>
					</div>
		  	</div>
	  	</form>
		</div>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="10%"><div class="text-center">Dirección</div></th>
					<th width="10%"><div class="text-center">Teléfono</div></th>
					<th width="30%"><div class="text-center">Descripción</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="cliente in cl.clientes">
			    <td><div class="text-center">{{cliente.nombre}}</div></td>
			    <td><div class="text-center">{{cliente.direccion}}</div></td>
			    <td><div class="text-center">{{cliente.telefono}}</div></td>
			    <td><div class="text-center">{{cliente.descripcion}}</div></td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="cliente.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!cliente.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="cl.editar(cliente._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="cl.cambiarEstatus(cliente._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>