<h2>Cotizacion</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{cot.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoobra" ng-click="cot.nuevoObra();cot.Mostrartabla()">
		 {{cot.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well"> 
		  		    
			    <div class="row">

				    <div class="col-sm-4">
								<label >Cliente</label>
								<select class="form-control select2" placeholder="Seleccione" ng-model="cot.cotizacion.cliente_id"
								 ng-change="cot.getClientes(cot.cotizacion.cliente_id)">
									<option ng-repeat="cliente in cot.clientes" value="{{cliente._id}}">{{cliente.nombre}}</option>
								</select>
					</div>
					<div class="col-sm-6"> 
					<h4>{{cot.clienteSeleccionado.nombre}}</h4>
					<p>{{cot.clienteSeleccionado.direccion}}</p>
					<p ng-show="cot.clientillo">{{cot.clienteSeleccionado.cp}},{{cot.clienteSeleccionado.ciudad}},{{cot.clienteSeleccionado.estado}}</p>
					</div>
				</div>
			</div>

			<div class="well">     
			    <div class="row">			    
	          <div class="col-sm-3">
					    <label>Nombre del Proyecto</label>
				    	<input type="text" class="form-control" placeholder="Nombre" ng-model="cot.cotizacion.nombreProyecto" >
				    </div>
				     <div class="col-sm-3">
						<label for="fecha">Fecha de inicio</label>
						<input name="fechaInicio" date-time format="dd-MM-yyyy" class="form-control" view="year" max-view="month" min-view="date" ng-model="cot.cotizacion.fechaInicio"  />
					</div>
					<div class="col-sm-3">
						<label for="fecha">Fecha de Vencimiento</label>
						<input name="fechaInicio" date-time format="dd-MM-yyyy" class="form-control" view="year" max-view="month" min-view="date" ng-model="cot.cotizacion.fechaVencimiento"  />
					</div>
				</div>
	    	  </div>
	    	 
	    	 <br/>

<div class="row">
	<div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false" role="widget">
		<header role="heading">
			<ul class="nav nav-tabs pull-left in">
				<li class="active">
					<a data-toggle="tab" href="#hr1" ng-click="cot.Mostrartabla()"><span > Partida Manual </span> </a>
				</li>
				<li>
					<a data-toggle="tab" href="#hr2" ng-click="cot.Mostrartabla()"><span > Partida Producto  </span> </a>
				</li>
			</ul>
		<span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span></header>
		<div role="content">

		<!-- ////////////////////////////////////////////// PARTIDA MANUAL //////////////////////////////// -->

<div class="widget-body">
	<div class="tab-content">
		<div class="tab-pane active" id="hr1">
			<div class="tabbable tabs-below">
				<div class="tab-content padding-10">
					<div class="tab-pane active" id="AA">
						<div class="row">
							<div class="col-sm-3">
				    			<label>Nombre</label>
			    				<input type="text" class="form-control" placeholder="Nombre" ng-model="cot.cotizacionManual.nombre">
			   				 </div>
			   				  <div class="col-sm-2">
				    			<label>Cantidad</label>
			    				<input type="number" class="form-control" placeholder="Cantidad" ng-model="cot.cotizacionManual.cantidad">
			   				 </div>
			   				  <div class="col-sm-2">
								<label >Unidad</label>
								<select  class="form-control select2" placeholder="Seleccione" ng-model="cot.cotizacionManual.unidad_id">
									<option ng-repeat="unidad in cot.unidades" value="{{unidad._id}}">{{unidad.nombre}}</option>
								</select>
					        </div>



			   				 <div class="col-sm-2">
				    			<label>Precio</label>
			    				<input type="number" class="form-control" placeholder="Precio" ng-model="cot.cotizacionManual.precio">
			   				 </div>
			   				 <div class="col-sm-2">
				    			<label>Utilidad</label>
			    				<input type="number" class="form-control" placeholder="Utilidad" ng-model="cot.cotizacionManual.utilidad">
			   				 </div>
			   				 
			   				 <div class="col-sm-6">
							     <label>Descripción</label>
						    	    <textarea type="text" class="form-control" placeholder="Descripción" ng-model="cot.cotizacionManual.descripcion" >
						            </textarea>
			    	         </div>
			   				 </div><br/>
					   	<div class="row">
							<div class="col-sm-12">
								<input type="submit" ng-click="cot.agregarManual(cot.cotizacionManual)" value="Agregar" class="btn btn-primary" ng-show="cot.action">
								<input type="submit" ng-click="cot.actualizarManual(cot.cotizacionManual,cot.cotizacion)" value="Actualizar" class="btn btn-primary" ng-show="!cot.action">	
							</div>
						</div><br/>
						</div>	
				</div>
				
			</div>

		</div>

				<!-- //////////////////////////////////////////////////// PRODUCTO  //////////////////////////////// -->
	    <div class="tab-pane" id="hr2">

				<div class="tab-content padding-10">
					<div class="tab-pane active" id="iss1">
							<div class="row">
							 <div class="col-sm-12">
								 <div class="col-sm-3">
									<label >Producto</label>
									<select class="form-control select2" placeholder="Seleccione" ng-model="cot.cotizacionProducto.producto_id"
									 ng-change="cot.getProductos(cot.cotizacionProducto.producto_id)">
										<option ng-repeat="producto in cot.productos" value="{{producto._id}}">{{producto.nombre}}</option>
									</select>
								</div>
						
								<div class="col-sm-3">
				    			<label>Cantidad</label>
			    				<input type="number" class="form-control" placeholder="Nombre" ng-model="cot.productoSeleccionado.cantidad">
			   				 </div>
			   				 	<div class="col-sm-3">
				    			<label>Unidad</label>
			    				<input type="text" class="form-control" placeholder="Unidad" ng-model="cot.productoSeleccionado.unidad">
			   				 </div>
			   				 <br/>

							<div class="col-sm-3">
								<input type="submit" ng-click="cot.agregarProducto(cot.productoSeleccionado)" value="Agregar" class="btn btn-primary" ng-show="cot.action">
								<input type="submit" ng-click="cot.actualizarProducto(cot.cotizacionProducto,cot.cotizacion)" value="Actualizar" class="btn btn-primary" ng-show="!cot.action">	
							</div>
							</div>

						</div><br/>							
							</div>
							
					</div>
				</div>
		</div>
	</div>
		<!-- end widget content -->
</div>
	<!-- end widget div --> 
</div>
		    	 	

</div><br/>
					
		  	
	  	</form>
		</div>
	</div>
</div>
<br/>
<!-- ///////////////////////////////////////   TABLAS  ///////////////////////////////////////////////////////// -->
<!-- List -->
		<div class="row"  ng-show="cot.tabla" >
<div class="col-sm-12">
	<table class="table table-bordered"  >
		<thead>
			<tr>
			    <!-- <td width="10%"><div class="text-center">No.</div></td> -->
		        <th width="20%"><div class="text-center">Cantidad</div></th>
				<th width="20%"><div class="text-center">Unidad</div></th>
				<th width="20%"><div class="text-center">Nombre</div></th>
				<th width="20%"><div class="text-center">Descripción</div></th>
				<th width="20%"><div class="text-center">Importe</div></th>
			</tr>
		</thead>
		<tbody>
	    	<tr  ng-repeat="detalle in cot.cotizacion.detalle">
		    <!-- <td width="10%"><div class="text-center">{{$index + 1}}</div></td> -->
			    <td ><div class="text-center">{{detalle.cantidad}}</div></td>			    
			    <td ><div class="text-center">{{detalle.unidad}}</div></td>
			    <td ><div class="text-center">{{detalle.nombre}}</div></td>
			    <td ><div class="text-center">{{detalle.descripcion}}</div></td>
			    <td ><div class="text-center">{{detalle.precio * detalle.cantidad | currency}}</div></td>
		   </tr>	
		   <tr>
		   <td colspan="5">
		   {{cot.subTotal | currency}}
		   </td>
		   </tr>  
		</tbody>
	</table>
	</div>
</div>

  	<div class="row" ng-show="!cot.guardar">
		<div class="col-sm-12">
			<input type="submit" ng-click="cot.guardarCotizacion(cot.cotizacion)" value="Guardar" class="btn btn-primary" ng-show="cot.action">
			<input type="submit" ng-click="cot.actualizarManual(cot.cotizacionManual,cot.cotizacion)" value="Actualizar" class="btn btn-primary" ng-show="!cot.action">	
		</div>
	</div><br/>



	<!--   <td>
				    <div class="text-center">
				    	<span ng-if="cotizacion.estatus == 1" class="label label-success">
							  Pendiente
							</span>
							<span ng-if="!cotizacion.estatus == 2" class="label label-danger">
							  Activo
							</span>
							<span ng-if="!cotizacion.estatus == 3" class="label label-danger">
							  Rechazada
							</span>
				    </div>
			    </td> -->


			   <!--   <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="cot.editar(cotizacion._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="cot.cambiarEstatus(cotizacion._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr> -->





		    	<!-- <th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th> -->
<!-- 


					 <tr  ng-if="cot.productoSeleccionado.tipo == 'producto'" ng-repeat="cotizacion in cot.cotizacion.detalle">

		    <td ng-if="cot.productoSeleccionado.tipo == 'producto'"  ><div class="text-center">{{cotizacion.cantidad}}</div></td>
		    <td ng-if="cot.productoSeleccionado.tipo == 'producto'"   ><div class="text-center">{{cotizacion.unidad   }}</div></td>
		     <td ng-if="cot.productoSeleccionado.tipo == 'producto'" ><div class="text-center">
		    {{cotizacion.nombre}}</div></td>
		    <td ng-if="cot.productoSeleccionado.tipo == 'producto'" ><div class="text-center">
		    {{cotizacion.descripcion}}</div></td>
		    
		    <td ng-if="cot.productoSeleccionado.tipo == 'producto'" ><div class="text-center">
		    {{cotizacion.cantidad * material.precio  | currency}}</div></td>
		    
		 </tr> -->