<nav>
	<ul data-smart-menu>
    <li data-ui-sref-active="active">
      <a ui-sref="root.materiales" tilte="Materiales">
        <i class="fa fa-lg fa-fw fa-industry"></i>
        <span class="menu-item-parent">Materiales</span>
      </a>
    </li>
    <li data-ui-sref-active="active">
      <a ui-sref="root.clientes" tilte="Clientes">
        <i class="fa fa-lg fa-fw fa-industry"></i>
        <span class="menu-item-parent">Clientes</span>
      </a>
    </li>
    <li data-ui-sref-active="active">
      <a ui-sref="root.productos" tilte="Productos">
        <i class="fa fa-lg fa-fw fa-industry"></i>
        <span class="menu-item-parent">Productos</span>
      </a>
    </li>
    <li data-ui-sref-active="active">
      <a ui-sref="root.cotizacion" tilte="Cotizacion">
        <i class="fa fa-lg fa-fw fa-industry"></i>
        <span class="menu-item-parent">Cotización</span>
      </a>
    </li>
    <li data-ui-sref-active="active">
      <a ui-sref="root.unidades" tilte="Unidades">
        <i class="fa fa-lg fa-fw fa-industry"></i>
        <span class="menu-item-parent">Unidades</span>
      </a>
    </li>
    <li data-ui-sref-active="active">
      <a ui-sref="root.ordenCompra" tilte="Orden">
        <i class="fa fa-lg fa-fw fa-industry"></i>
        <span class="menu-item-parent">Orden de Compra</span>
      </a>
    </li>
    <li data-ui-sref-active="active">
      <a ui-sref="root.ordenProduccion" tilte="Orden">
        <i class="fa fa-lg fa-fw fa-industry"></i>
        <span class="menu-item-parent">Orden de Producción</span>
      </a>
    </li>
     <li data-ui-sref-active="active">
      <a ui-sref="root.proveedores" tilte="Orden">
        <i class="fa fa-lg fa-fw fa-industry"></i>
        <span class="menu-item-parent">Proveedores</span>
      </a>
    </li>
	</ul>
</nav>

