
<nav>
	<ul data-smart-menu>


  <li data-menu-collapse>
	    <a href="#">
	      <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
	      <span class="menu-item-parent">Catálogos</span>
	    </a>
	    <ul>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.obras" >
		        <i class="fa fa-lg fa-fw fa-sun-o"></i>
		        <span class="menu-item-parent">Obras</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.mes" >
		        <i class="fa fa-lg fa-fw fa-industry"></i>
		        <span class="menu-item-parent">Agregar Meses</span>
		      </a>
		    </li>
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.usuarios" >
		        <i class="fa fa-lg fa-fw fa-industry"></i>
		        <span class="menu-item-parent">Usuarios</span>
		      </a>
		    </li>		   
		    <li data-ui-sref-active="active">
		      <a ui-sref="root.addGasto" >
		        <i class="fa fa-lg fa-fw fa-industry"></i>
		        <span class="menu-item-parent">Gastos de  Oficina</span>
		      </a>
		    </li>
	    </ul>
	  </li>
  </ul>
</nav>