<div class="content" > 
<div style="  margin: 0mm 0mm 0mm 0mm;">
	<img style="margin-right: 900px;height: 300px;margin-top: -50px;"  src="img/tri.png">
 	<img style="margin-left: 800px;height: 100px;margin-top: -200px;float: left;" src="img/inoxica.png">
</div>
<a class="btn btn-primary"  ng-show="orden.imprecion" id="printpagebutton" ng-click="orden.borrarBotonImprimir()">Imprimir</a>
<br/><br/><br/><br/><br/>
<div class="page-header">
 
</div>
<div class="row">
	<div class="col-sm-12">
			<div class="row" >
				<div class="col-sm-6">
					<p>Cliente: <strong>{{orden.getCliente(orden.ordenCompra.cliente_id)}}</strong></p>
					<div class="pull-left">
			         <p>{{orden.getClienteDireccion(orden.ordenCompra.cliente_id)}}</p>
			       </div>
			      </div>
			      <div class="col-sm-6">
						<div class="pull-right"> 
					        <p>Cotización:<strong>{{orden.ordenCompra.folio}}</strong></p>
					       
					        <p>Fecha: <strong>{{orden.ordenCompra.fechaInicio | date:"dd-MM-yyyy"}}</strong></p>
					      
					        <p>Fecha Vencimiento: <strong>{{orden.ordenCompra.fechaVencimiento | date:"dd-MM-yyyy"}}</strong></p>

				       </div>
				</div>
			</div>
		
    </div>
</div>
<br/>
<div class="col-sm-12">
	<div class="row">
		<p>Proyecto:{{orden.ordenCompra.nombreProyecto}}</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered"  >
			<thead>
				<tr>
				    <th width="10%"><div class="text-center">Partida</div></th> 
			        <th width="20%"><div class="text-center">Descripción</div></th>
					<th width="10%"><div class="text-center">Unidad</div></th>
					<th width="10%"><div class="text-center">Cantidad</div></th>
					<th width="10%"><div class="text-center">Precio</div></th>
					<th width="10%"><div class="text-center">Importe</div></th>
				</tr>
			</thead> 
			<tbody>
		    	<tr  ng-repeat="detalle in orden.ordenCompra.detalle"> 
			        <td><div class="text-center">{{$index + 1}}</div ></td>  
			        <td><div class="text-center">{{detalle.descripcion}}</div></td> 
				    <td><div class="text-center">{{orden.getUnidad(detalle.unidad_id)}}</div></td>			    
				    <td><div class="text-center">{{detalle.cantidad}}</div></td>
				    <td><div class="text-center">{{detalle.precio * detalle.utilidad/100 + detalle.precio | currency}}</div></td>
				    <td ><div class="text-center">{{(detalle.precio * detalle.utilidad /100 + detalle.precio)  * detalle.cantidad | currency }}</div></td>
		
			   </tr>
			    <tr>
			   		<td colspan="5"><div class="pull-right"><strong>SubTotal</strong></div> </td>
				   <td><div class=" pull-right" >{{orden.ordenCompra.subTotal | currency}}</div>
				   </td>
		    </tr>
		    <tr>
		    	<td colspan="5"><div class="pull-right"><strong>Iva</strong></div></td>
		    	<td><div class="pull-right" > {{orden.ordenCompra.subTotal *.16 | currency}}
		    	</div></td>
		    </tr>
		    <tr>
				   <td colspan="5" ><div class="pull-right"><strong>Total</strong></div></td>
				   <td><div class="pull-right">{{orden.ordenCompra.total| currency}}</div>
				   </td>
		   </tr>	
			  <!--  <tr>
				   <td colspan="5" ></td>
				   <td><div class="text-center"><strong>SubTotal:</strong> {{orden.cotizacion.subTota | currency}}</div>
				   </td>
			    </tr>
			    <tr>
			    	<td colspan="5"></td>
			    	<td><div class="text-center"><strong>Iva:</strong> {{orden.cotizacion.iva | currency}}
			    	</div></td>
			    </tr>
			    <tr>
				   <td colspan="5"></td>
				   <td><div class="text-center"><p>Total:{{orden.cotizacion.total | currency}}</p> </div>
				   </td>
			   </tr> -->
			    
			</tbody>
		</table>
		</div>
</div>
<br/>
<!-- <div class="row">
	<div class="col-sm-12">
		<p>Nota: Aqui va la nota</p>
	</div>
</div> -->

<br/><br/>

<div class="row pull-right">
	<div class="col-sm-12">
	<p>Atentamente</p><br/>

	<p><strong> Rigoberto Zamarripa Villegas</strong></p>

	<p>Proyectos Industriales</p>

	</div>
</div>
</div>
