<h2>Productos</h2>
<div class="row">
	<div class="col-sm-12">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">    
				    <div class="row">
				    <div class="col-sm-12">			    
		          <div class="col-sm-4">
						    <label>Nombre</label>
					    	<input type="text" class="form-control" placeholder="Nombre" ng-model="pro.producto.nombre" >
					    </div>
					     <div class="col-sm-8">
						    <label>Descripción</label>
					    	<textarea type="text" class="form-control" placeholder="Descripción" ng-model="pro.producto.descripcion" >
					    </textarea>
		    	         </div>
	    	  </div>
	    	 </div>
	    	 <br/>
	    	 	<div class="row">
	    	 		<div class="col-sm-12">
	    	 		<div class="col-sm-3">
							<label >Insumos</label>
							<select ng-change="pro.getMateriales(pro.material.material_id)" class="form-control select2" placeholder="Seleccione" ng-model="pro.material.material_id">
								<option ng-repeat="material in pro.materiales" value="{{material._id}}">{{material.nombre}}</option>
							</select>
						</div>

						<div class="col-sm-2">
					    <label>Cantidad</label>
				    	<input type="text" class="form-control" placeholder="Cantidad" ng-model="pro.materialSeleccionado.cantidad" >
				    </div>
						 <div class="col-sm-2">
								<label >Unidad</label>
								<select  class="form-control select2" placeholder="Seleccione" ng-model="pro.materialSeleccionado.unidad_id">
									<option ng-repeat="unidad in pro.unidades" value="{{unidad._id}}">{{unidad.nombre}}</option>
								</select>
					        </div>
	    	 			<div class="col-sm-2">
	    	 			<label>Precio</label>
					    		<div class="form-control">{{pro.materialSeleccionado.precio | currency}}</div>
						</div>
						<div class="col-sm-2"><br/>
							<input type="submit" ng-show="pro.agregar" ng-click="pro.agregarMaterial(pro.materialSeleccionado)" value="Agregar" class="  btn btn-primary">
							<input type="submit" ng-show="!pro.agregar" ng-click="pro.modificarMaterial(pro.materialSeleccionado)" value="Modificar" class="  btn btn-primary">
						</div>
						<div class="col-sm-1"><br/>
							<input type="submit" ng-show="pro.cancelar" ng-click="pro.cancelarMaterial(pro.materialSeleccionado)" value="Cancelar" class="  btn btn-danger">
						</div>

	    	 		</div>
	    	 		
	    	 	</div><br/>


	    	 

<!-- ////////////////////////////////////////  TABLA DE MATERIALES   /////////////////////////////
 -->				<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
				    <th width="10%"><div class="text-center">No.</div></th>
					<th width="20%"><div class="text-center">Insumos</div></th>
					<th width="20%"><div class="text-center">Cantidad</div></th>
					<th width="20%"><div class="text-center">Unidad</div></th>
					<th width="30%"><div class="text-center">Importe</div></th>
					<th width="30%"><div class="text-center">Acciones</div></th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="material in pro.producto.detalleProducto">
		        <td><div class="text-center">{{$index + 1}}</div></td>
			    <td><div class="text-center">{{material.nombre}}</div></td>
			    <td><div class="text-center">{{material.cantidad}}</div></td>
			    <td><div class="text-center">{{pro.getUnidad(material.unidad_id)}}</div></td>
			    <td><div class="text-center">{{material.precio * material.cantidad | currency}}</div></td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="pro.editarMaterial($index)"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="pro.cambiarEstatusMaterial(material._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
		    <tr ><td colspan="5"> Total:{{pro.SumaPrecioProductos()}}</td></tr>
			</tbody>
		</table>
	</div>
</div>


                <!--  //////////////// boton guardar de productos ////////////// -->
					<div class="row">
						
						<div class="col-sm-12">
							<input type="submit" ng-click="pro.guardar(pro.producto)" value="Guardar" class="btn btn-primary" ng-if="!pro.producto._id">
							<input type="submit" ng-click="pro.actualizar(pro.producto)" value="Actualizar" class="btn btn-primary" ng-if="pro.producto._id">	
						</div>
					</div>



		  	</div>
	  	</form>
	</div>
</div>
<br/>
