<h2>Productos</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-primary" ui-sref="root.productosDetalle">Nuevo</a>
	</div>
</div>
<br/>
<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="20%"><div class="text-center">Nombre</div></th>
					<th width="20%"><div class="text-center">Descripción</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="producto in pro.productos">
			    <td><div class="text-center">{{producto.nombre}}</div></td>
			    <td><div class="text-center">{{producto.descripcion}}</div></td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="producto.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!producto.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="/editarProductos/{{producto._id}}"><i class="fa fa-pencil"></i> Editar</a></li>
							  <li><a href="#" ng-click="pro.cambiarEstatus(producto._id)"><i class="fa fa-trash"></i> Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>